/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Montserrat:wght@400;500&display=swap');

body {
  /* This dark background helps the header stand out, like in the image */
  background-color: #212121;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
